.thanku{
  &_container{
    width: 100%;
    height: 99vh;
    position: relative;
    video{
        width: 100%;
        height: 99vh;
        object-fit: cover;
    }
    &_content{
        position: absolute;
        top: 16vw;
       ;
        left: 10vw;
        h1{
margin-bottom: 1vw;
font-size: 3.2vw;
// font-family: "Montserrat", sans-serif;
color: #f0623a;
        }
       
    }
  }
}
.typewriter-text{
    font-size: 2.2vw;
}
@media only screen and (min-width: 280px) and (max-width: 767px) {
    .thanku{
        width: 100%;
        &_container{
            width: 100%;
            height: 100vh;
            position: relative;
            video{
// width: 100%;
height: 100vh;
object-fit: cover;
            }
            &_content{
                
                position: absolute;
        height: 52vh;
                display: flex;
                flex-direction: column;
            
                justify-content:center;
                width: 90%;
                left: 17px;
                h1{
font-size: 7vw;
margin-bottom: 7vw;
                }
               
            }
        }
    }
    .typewriter-text{
        font-size: 6.5vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
    .thanku{
        width: 100%;
        &_container{
            width: 100%;
            video{

            }
            &_content{
                width: 90%;
                height: 50vh;
                display: flex;
                flex-direction: column;
            
                justify-content:center;
                h1{
font-size: 7vw;

                }
               
            }
        }
    }
    .typewriter-text{
        font-size: 6.5vw;
    }
}
